<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/andrestorresp/le_perfum"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/?locale=es_LA"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/gabrielmanrique/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <p class="slogan">&copy; Descubre la esencia de la excelencia
    <span class="stars">
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
    </span>
    Perfumes que te elevan a cinco estrellas.
</p>
  </div>
</div>
