<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/tuempresa"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/tuempresa"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/tuempresa"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/tuempresa"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/company/tuempresa"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <p class="slogan">&copy; Descubre la esencia de la excelencia
    <span class="stars">
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
    </span>
    Perfumes que te elevan a cinco estrellas.
</p>
  </div>
</div>
