<div class="">
  <h1 class="text-center text-white"></h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/premium-photo/bottle-red-perfume-with-red-top-red-top_808092-1411.jpg?w=826" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/previews/023/539/746/non_2x/luxury-perfume-bottles-illustration-ai-generative-free-photo.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/premium-photo/bottle-perfume-with-yellow-label-front_902994-26.jpg?w=826" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="about">
  <div class="container">
    <div class="heading">
      <h2 class="section-heading">about us</h2>
      <p class="sub-heading">
        Parties All Clothes Removal Cheered Calling Prudent Her. And
        Residence For Met The Estimable Disposing. Mean If He They Been No
        Hold Mr. Is At Much Do Made Took Held Help. Latter Person Am Secure
        Of Estate Genius At.
      </p>
    </div>
    <div class="row-container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-col">
            <img src="https://images.pexels.com/photos/2508558/pexels-photo-2508558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="text-col">
            <h3>
              new<br />
              vibes
            </h3>
            <p>
              Believing Neglected So So Allowance Existence Departure In. In
              Design Active Temper Be Uneasy. Thirty For Remove Plenty Regard
              You Summer Though.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="text-col">
            <h3>
              inside<br />
              look
            </h3>
            <p>
              Believing Neglected So So Allowance Existence Departure In. In
              Design Active Temper Be Uneasy. Thirty For Remove Plenty Regard
              You Summer Though.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-col">
            <img src="https://images.pexels.com/photos/6279415/pexels-photo-6279415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
