#carouselExampleInterval {
  max-height: 400px; /* Ajusta la altura máxima según sea necesario */
  overflow: hidden; /* Evita que las imágenes más grandes se desborden */
}

/* Estilos para las imágenes del carrusel */
#carouselExampleInterval .carousel-item img {
  object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
  width: 100%;
  height: 100%; /* Ajusta la altura al 100% del contenedor */
}
