body{
  min-height: 100vh;
  position: relative;
}
.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgb(255, 255, 255);

  margin-top: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: 10px;
  position: absolute ;
  width: 100%;
  bottom: 0;
  margin-top: 25px;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color:goldenrod;
}
.footer .fa-heart {
  color: #D23333;
}
