.form-control{
  background-color: #e7b386;
  border-radius: 8px;
}
.form-control:focus{
  background-color: #e7b386;
}
.form-inputs {
  font-size: 16px;
  font-weight: 600;
}
.form{
  padding:7px 25px;
}
