.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 10px;
  // se hizo un cambio para eliminar margen
  margin-bottom: 0;
  // se hizo un cambio para eliminar margen

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link:hover{
  color:goldenrod;
}
