<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <p>¡Hola <%= @resource.email %>!</p>
    </div>
    <p>Nos estamos comunicando con usted para notificarle que su contraseña ha sido cambiada.</p>
  </div>
</div>
