<div class="container">
  <div class="card-product-infos">
    <%#= cl_image_tag @product.photo.key, height: 400, crop: :scale if @product.photo.attached? %>
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
